<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/static/favicon.ico">
	<title>BlocNow</title>
</head>
<body>
	
	

	<div align=center><h2>Introduce tu nombre de usuario</h2></DIV><br>
	{{#error}}
	<div align=center><font style="color: red">Nombre de usuario o contraseña inválidos</font></div><br>
	{{/error}}
	<div align=center><form action="/login_completo" method="post">	
		Nombre:<INPUT type="TEXT" name="username" maxlength="40" size="33" placeholder="Nombre de usuario">
		<br>
		<br>
		Contraseña:<input type="PASSWORD" name="password" maxlength="40" size="33" placeholder="Contraseña">
		<br>
		<br>
		<input type='submit' value='Enviar'>
	</form></div>
	<div align="center"><input type="button" value="Volver atrás" onclick="window.location.href='/'"></div>		
</body>
</html>