<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="tableros.css">
	</head>
	<body>
		<div align=center><h1>Tablero de {{nombre}}</h1></div>
		<br>
		<br>
		
		<div id="container">
			<div id="leftCol">
				<div class="tablonPrivado">
					<div align="center">Tablero privado</div>
					{{#notas}}
						<div class="notaPrivada">
							<a href="/nota/{{-index}}">{{contenido}}</a><br>
						</div>
					{{/notas}}
					<br>
					<a href="/crear_nota">Nueva nota</a>
				</div>
			</div>
			<div id="rightCol">
				<div class="tablonPublico">
					<div align="center">Tablero publico</div>
					{{#notas}}
						<div class="notaPublica">
							<a href="/nota/{{-index}}">{{contenido}}</a>
						</div>
					{{/notas}}
					<br>
					<a href="/crear_nota">Nueva nota</a>
				</div>
			</div>
		</div>
	
	</body>
</html>