<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" type="image/x-icon" href="assets/static/favicon.ico">
	<title>BlocNow</title>
</head>
<body>

	<div align=center><h2>Introduce tu nombre de usuario</h2></DIV>
	<div align=center><form action="/registro_completo" method="post">	
		Nombre:<INPUT type="TEXT" name="name" maxlength="40" size="33" placeholder="Nombre de usuario">
		<br>
		<!-- Abajo el introducir nombre anterior -->
		<!-- <textarea name='nombre' rows=1 cols=50 placeholder="Nombre de usuario"></textarea> -->
		<br>
		Contraseña:<input type="PASSWORD" name="password" maxlength="40" size="33" placeholder="Contraseña">
		<br>
		<br>
		<input type='submit' value='Enviar'>
	</form></div>
	<div align="center"><input type="button" value="Volver atrás" onclick="window.location.href='/'"></div>		
</body>
</html>