<html>
<body>

	<DIV ALIGN=center><h2>Introduce tu nombre de usuario</h2></DIV>
	<DIV ALIGN=center><form action="/username" method="post">	
		
		Nombre:<INPUT type="TEXT" name="nombre" maxlength="40" size="33" placeholder="Nombre de usuario">
		<br>
		<!-- Abajo el introducir nombre anterior -->
		<!-- <textarea name='nombre' rows=1 cols=50 placeholder="Nombre de usuario"></textarea> -->
		<br>
		Contraseña:<input type="PASSWORD" name="nombre" maxlength="40" size="33">
		<br>
		<input type='submit' value='Enviar'>
	</form></DIV>
	
</body>
</html>