* {
	margin:0;
	padding:0;
}

#container{
	width: 100%;
	clear: both;
}

#leftCol{
	float: left;
	width: 50%;
}

#rightCol{
	float: right;
	width: 50%;
}

.tablonPrivado{
	border-color: red;
	border-style: solid;
	padding: 10px;
	margin: 0px 5px 0px 10px;
}

.tablonPublico{
	border-color: green;
	border-style: solid;
	padding: 10px;
	margin: 0px 10px 0px 5px;
}

.notaPrivada{
    background-color: #FFE4B5;
	text-align: center;
	border-style: inherit;
	border-color: inherit;
	padding: 5px;
	margin: 5px 0px 10px 0px;
	display: inline-block;
	
	max-width: 200px;
	max-height: 200px;
	
	word-break: break-all;
	word-wrap: break-word;
    overflow:hidden;
    text-overflow: ellipsis;
}

.notaPublica{
    background-color: #FFE4B5;
	text-align: center;
	border-style: inherit;
	border-color: inherit;
	padding: 5px;
	margin: 5px 0px 10px 0px;
	display: inline-block;
	
	max-width: 200px;
	max-height: 200px;
	
	word-break: break-all;
	word-wrap: break-word;
    overflow:hidden;
    text-overflow: ellipsis;
}